body {
	text-align: center;

} 

img {
	width: 250px; height: 200px;
} 

#list {
	width: 40%;
	margin: auto;
	display: grid;
	grid-template-columns: auto auto auto;
}
#pokemonPicture {
	width: 65px; height: 65px;
}

#pokemonBio {
	margin: auto;
	display: flex;
	width: 100%;
	justify-content: center;
}

footer {
	position: fixed;
	bottom: 100px;
	width: 100%;
}

.bold {
	font-weight: bold;
	font-size: 1.1em;
}